@model IEnumerable<LearnApp.Models.NotesByCases>

@{
    ViewData["Title"] = "NotesByCases";
}

<h2>NotesByCases</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.caseInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advokat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caseInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advokat)
        </td>
        <td>
            <a asp-controller="Cases" asp-action="Edit" asp-route-id="@item.NoteId">Edit</a>|
            <a asp-action="Details" asp-route-id="@item.NoteId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
